body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
header { background: #5a1177 ;
        color: #521177;
        padding: 15px;
        }
nav ul {
    list-style: none;
    padding: 0%;
}
nav ul li { display: inline;
    margin: 0% 15px;
    }
    nav ul li a { color: antiquewhite;
        text-decoration: none;
     }
     #banner { background: none;
        color: rgb(245, 245, 245);
        padding: 20px;
     }
section { padding: 20px; 
}
footer { background: #333333;
    color: rgb(167, 37, 76);
    padding: 10px;
    margin-top: 20px;

}